<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>396221337597-5k7qjsqn8kb1vdfsr34ac1oo0jh24pjs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.396221337597-5k7qjsqn8kb1vdfsr34ac1oo0jh24pjs</string>
	<key>API_KEY</key>
	<string>AIzaSyCOSAddtsRisnUQqYFC3xXO8b00ki4uSpw</string>
	<key>GCM_SENDER_ID</key>
	<string>396221337597</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hwa.vb.flightflutter</string>
	<key>PROJECT_ID</key>
	<string>fluttertr-ead5c</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttertr-ead5c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:396221337597:ios:eedde5c26c57c8a8ce5394</string>
	<key>DATABASE_URL</key>
	<string>https://fluttertr-ead5c.firebaseio.com</string>
</dict>
</plist>